/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.square{
    width: 800px;
    height: 220px;
}

.balloon{
    width: 160px;
    height: 200px;
    background-image: url("../img/pattern.png");
    background-position: center;
    background-size: contain;
    margin: 10px 15px;
    border-radius: 25px;
}

.air-balloon{
    width: 160px;
    height: 200px;
    background-image: url("../img/noun_air_balloon_3134741.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    margin: 10px 15px;
    border-radius: 25px;
    position: relative;
}

div.title-card{
    position: absolute;
    bottom: 10px;
    left: 50px;
}

body{
    background-color: rgb(155, 183, 224);
}

main {
    width: 800px;
    height: 670px;
    margin: 10px auto;
}

header h1{
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}